/* Подключение шрифта из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Основные стили */
body {
    font-family: 'Roboto', sans-serif; /* Применение шрифта Roboto */
    margin: 0;
    padding: 0;
    background-color: rgba(161, 93, 93, 0.484); /* Светлый фон */
    color: #000000; /* Темный цвет текста */
}

/* Стили для заголовков */
h1, h2, h3 {
    color: #ffffff; /* Цвет заголовков */
    margin-bottom: 15px;
}

/* Стили для параграфов */
p {
    line-height: 1.6; /* Интерлиньяж для удобства чтения */
    margin-bottom: 20px;
}

/* Стили для ссылок */
a {
    color: #b87e13; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для кнопок */
button {
    background-color: #3498db; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
}

button:hover {
    background-color: #2980b9; /* Темнее при наведении */
}

/* Украшение мопсами */
body::before {
    content: "";
    font-size: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
}
